@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.project {
  padding: 2rem;
  position: relative;
  z-index: 1;

  &__direction {
    font-weight: 600;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__container {
    display: flex;
    padding: 2rem;
    gap: 2rem;
  }

  &__card {
    display: flex;
    width: 40%;
    gap: 1rem;
    // background: rgba(175, 228, 185, 0.75);
    background: rgba(109, 143, 116, 0.75);
    padding: 1rem 1.5rem;
    border-radius: 8px;
  }

  &__img {
    width: 250px;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: box-shadow 150ms;

    &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__name {
    font-weight: 600;
  }

  &__link {
    margin-left: 2rem;
    a {
      color: black;
      text-decoration: none;
    }
  }
}
