@use "../../styles/partials/globals" as *;
// @use "../../styles/partials/variables" as *;


.project {
  padding: 2rem;
  position: relative;
  z-index: 1;

  &__direction {
    font-weight: 600;
  }

  &__title {
    font-size: 1.5rem;
  }

  &__container {
    display: flex;
    width: 100%;
    padding: 1rem 0rem;
    gap: 2rem;
    flex-direction: column; //for mobile
    align-items: center;

    @include desktop {
      flex-direction: row;
      padding: 2rem;
    }

    @include lgDesktop {
      flex-direction: row;
      padding: 2rem;
      align-items: stretch;
    }
  }

  &__card {
    display: flex;
    width: 100%;
    gap: 1rem;
    // background: rgba(175, 228, 185, 0.75);
    background: rgba(109, 143, 116, 0.75);
    padding: 1rem 1.5rem;
    border-radius: 8px;
    flex-direction: column;
    width: 90%;
    align-items: center;
    position: relative;

    @include lgDesktop {
      flex-direction: row;
      width: 40%;
      align-items: flex-start;
    }

  }

  &__img {
    width: 100%;
    border-radius: 8px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
    transition: box-shadow 150ms;

    @include lgDesktop {
      width: 250px;
    }

    &:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.75rem;


    @include lgDesktop {
      
    }
  }

  &__name {
    font-weight: 600;
  }

  &__link {
    margin-left: 2rem;
    a {
      color: black;
      text-decoration: none;
    }
  }
}
