@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  // background: $mushroomNeutral;
}

html.menu-open, body.menu-open  {
  overflow: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  color: #3D3D3D;
  // background: linear-gradient(180deg, #FAF8F1 0%, #E8E2D9 100%);
  background: $softForestNeutral;

}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  // color: ;
  font-size: 2rem;
}

svg {
  fill: red;
}

a {
  text-decoration: none;
}
