@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    // background: $mushroomNeutral;
}



body {
    font-family: "Poppins", sans-serif;
    color: black;
    // background: linear-gradient(180deg, #FAF8F1 0%, #E8E2D9 100%);
    background: $softForestNeutral;
    background-image: url("groovepaper.png");
}

h1 {
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-size: 2rem;
}

svg {
    fill: red;
}