//Neutral sage cottage
$sageNeutral: #e8dcca;
$sageBrand: #8d997d;
$sageAction: #cb994b;

//Rustic cream cottage
$rusticNeutral: #f6eedd;
$rusticBrand: #c1674b;
$rusticAction: #6b8659;

// Soft wheat meadow
$meadowNeutral: #f0e1c6;
$meadowBrand: #92aabb;
$meadowAction: #b2939e;

// Stone cottage charm
$stoneNeutral: #e1dfd9;
$stoneBrand: #8d997d;
$stoneAction: #bf6547;

// Muted mushroom cottage
$mushroomNeutral: #e0d7ca;
$mushroomBrand: #73846b;
$mushroomAction: #ecbbaf;