//Neutral sage cottage
$sageNeutral: #e8dcca;
$sageBrand: #8d997d;
$sageAction: #cb994b;

//Rustic cream cottage
$rusticNeutral: #f6eedd;
$rusticBrand: #c1674b;
$rusticAction: #6b8659;

// Soft wheat meadow
$meadowNeutral: #f0e1c6;
$meadowBrand: #92aabb;
$meadowAction: #b2939e;

// Stone cottage charm
$stoneNeutral: #e1dfd9;
$stoneBrand: #8d997d;
$stoneAction: #bf6547;

// Muted mushroom cottage
$mushroomNeutral: #e0d7ca;
$mushroomBrand: #73846b;
$mushroomAction: #ecbbaf;


//FAIRYCORE

// Soft Forest Fairy
$softForestNeutral: #f5f0e5;
$softForestBrand: #a9c4a6;
$softForestAction: #d0bbe2;

// Ethereal Woodland
$etherealWoodlandNeutral: #FDF4E3;
$etherealWoodlandBrand: #D4A5A5;
$etherealWoodlandAction: #799C6A;

// Dreamy Meadow
$dreamyMeadowNeutral: #f9f5f1;
$dreamyMeadowBrand: #A6C8E0;
$dreamyMeadowAction: #F9C74F;

// Misty Garden
$mistyGardenNeutral: #E5E5E5;
$mistyGardenBrand: #F1C0C0;
$mistyGardenAction: #789D67;

// Strawberry Fields Palette
$strawberryFieldsNeutral: rgb(250, 248, 241); // Soft Cream (Background)
$strawberryFieldsBrand: rgb(162, 172, 128);   // Sage Green (Primary Branding)
$strawberryFieldsAction: #d8968f;  // Dusty Rose (Call-to-Action)

// enchanted twilight
$enchantedBase: hsl(285, 30%, 15%);
$enchantedSecondary: hsl(275, 40%, 30%);
$enchantedAccent: hsl(320, 80%, 60%);

// mystic forest
$mysticBase: hsl(180, 30%, 15%);
$mysticSecondary: hsl(120, 25%, 35%);
$mysticAccent: hsl(180, 80%, 60%);

// moonlit orchid
$moonlitBase: hsl(250, 40%, 20%);
$moonlitSecondary: hsl(320, 40%, 45%);
$moonlitAccent: hsl(210, 90%, 60%);

// celestial dream
$celestialBase: hsl(220, 30%, 15%);
$celestialSecondary: hsl(270, 40%, 35%);
$celestialAccent: hsl(120, 80%, 60%);

// fairy glow
$fairyBase: hsl(240, 10%, 10%);
$fairySecondary: hsl(270, 30%, 40%);
$fairyAccent: hsl(30, 90%, 65%);

// starlit meadow
$starlitBase: hsl(120, 25%, 15%);
$starlitSecondary: hsl(210, 20%, 35%);
$starlitAccent: hsl(290, 80%, 65%);







