.hero {
  background: rgba(236, 213, 255, 0.45);
  height: 100vh;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    gap: 10rem;
  }

  &__img {
    object-fit: cover;
    height: 360px;
    width: 360px;
    border-radius: 50%;
  }

  &__arrow {
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;

    a {
      color: black;
      text-decoration: none;
    }
  }
}
