@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.hero {
  height: 100vh;
  background: $softForestBrand;
  // background: linear-gradient(180deg, #FAF8F1 0%, #A2AC80 100%);
  padding-bottom: 80px; // Add some space and gradient effect

  background-image: url("groovepaper.png");

  &__title {
  
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    gap: 10rem;
  }

  &__text {
    text-align: center;
  }
  &__img {
    object-fit: cover;
    height: 360px;
    width: 360px;
    border-radius: 50%;
  }


  &__arrow {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    img {
      height: 2rem;
    }
  }
}
