@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

#about-me {
  // padding: 2rem;
}

.about {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 10rem;
  background-image: url("/Users/maishamir/Documents/mySite-react/public/4 copy.jpg");
  background-size: cover;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }

  &__content {
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    padding: 0 10rem;
  }
  &__text {
    width: 50%;
    color: $softForestNeutral;
    font-size: 1.1rem;
    background: rgba(204, 85, 0, 0.5);
    backdrop-filter: blur(10px); /* Apply the blur effect */
    -webkit-backdrop-filter: blur(10px); /* Apply the blur effect */
    padding: 20px;
    border-radius: 3rem;

    p {
      margin: 1rem 0;
    }
  }

  &__img {
    img {
      height: 500px;
      border-radius: 10px;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
      border-radius: 8px;
      filter: sepia(30%);
    }
  }
}
