@import "../../styles/partials/globals";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";


.tools {
    min-height: 75vh;
    padding: 2rem;
    
    &__title {
        font-size: 2rem;
    }

    &__list {
        display: flex;
        // border: 1px solid rebeccapurple;
        padding: 1.5rem 3rem;
        list-style: none;
        width: 85%;
        margin: 0 auto;
        flex-wrap: wrap;
        margin-top: 2rem;
        row-gap: 3rem;
    }

    &__listItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 1.5rem;
    }

    &__image {
        height: 4.5rem;
    }
}