@import "../../styles/partials/globals";
@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.tools {
  min-height: 40vh;
  padding: 2rem;
  margin: 3rem 0;
  // background: $softForestBrand;
  // background-image: url("groovepaper.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    font-size: 2rem;
  }

  &__list {
    display: flex;
    // padding: 1.5rem 1rem;
    justify-content: space-evenly;
    list-style: none;
    width: 90%;
    margin: 0 auto;
    // background: red;
    flex-wrap: wrap;
    margin-top: 2rem;
    row-gap: 3rem;
  }

  &__listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1.5rem;
  }

  &__image {
    font-size: 3rem;
    color: #c05e3d;
  }
}