@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.navbar {
  position: absolute;
  width: 100%;
  padding: 2rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    font-size: 2.25rem;
    font-family: "Libre Baskerville", serif;
    text-decoration: none;
    color: #fbf6e0;
  }

  &__menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 5rem;

    &-link {
      color: #fbf6e0;
      font-size: 1.05rem;
    }
  }

  &__hamburger {
    visibility: hidden;
    cursor: pointer;
    .bar {
      display: block;
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background: #fbf6e0;
      transition: 0.3s ease;
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    &__hamburger {
      visibility: visible;
      right: 2rem;
      z-index: 10;
    }

    &__hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    &__hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &__hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    &__menu {
      position: fixed;
      // inset: 0;
      // height: 100dvh;
      inset: 0;
      flex-direction: column;
      justify-content: flex-start;
      gap: 1rem;
      padding: 10rem 2em;
      background-color: hsl(0 0% 0% / 0.75);
      z-index: 10;
      text-align: center;
      transform: translateX(-100%);
      // font-weight: bolder;
      &-item {
        font-size: 1.15rem;
        font-weight: 600;

        a {
          text-decoration: none;
        }
      }

      transition: 0.4s ease-in-out;
      &.active {
        transform: translateX(0);
      }
    }

    @supports (backdrop-filter: blur(1rem)) {
      &__menu {
        background-color: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);

        * {
          color: white;
        }
      }
    }
  }
}
