@import "../../styles/partials/globals";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

footer {
    background: $softForestBrand;
    text-align: center;
    color: white;
    padding: 1rem;
}